data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

*.csv
*.zip
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.DS_Store
kaggle.json
.env
